services:
  node1:
    build:
      context: ../../
      dockerfile: docker/partition/node1/Dockerfile
    container_name: node1
    cap_add:
    - NET_ADMIN
    networks:
      kvnet:
        ipv4_address: 172.25.0.2
    ports:
      - "8080:8080"
      - "6000:6000"

  node2:
    build:
      context: ../../
      dockerfile: docker/partition/node2/Dockerfile
    container_name: node2
    cap_add:
    - NET_ADMIN
    networks:
      kvnet:
        ipv4_address: 172.25.0.3
    ports:
      - "8081:8081"
      - "6001:6001"

  node3:
    build:
      context: ../../
      dockerfile: docker/partition/node3/Dockerfile
    container_name: node3
    cap_add:
    - NET_ADMIN
    networks:
      kvnet:
        ipv4_address: 172.25.0.4
    ports:
      - "8082:8082"
      - "6002:6002"


  node4:
    build:
      context: ../../
      dockerfile: docker/partition/node4/Dockerfile
    container_name: node4
    cap_add:
    - NET_ADMIN
    networks:
      kvnet:
        ipv4_address: 172.25.0.5
    ports:
      - "8083:8083"
      - "6003:6003"


  node5:
    build:
      context: ../../
      dockerfile: docker/partition/node5/Dockerfile
    container_name: node5
    cap_add:
    - NET_ADMIN
    networks:
      kvnet:
        ipv4_address: 172.25.0.6
    ports:
      - "8084:8084"
      - "6004:6004"


networks:
  kvnet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/16
